.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
flex-wrap: wrap;
    margin: 20px;
    align-items: center;

}
.img{
    width: 130px;
    height: 130px;
}